//====================================================================================================
.footer {
  padding: 25px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: #f2e4e3;

  @media (min-width:$pc) {
    padding-top: 110px;
  }

  // .footer__container
  &__container {
    display: grid;
    justify-items: center;
    gap: 22px;
    text-align: center;

    @media (min-width:$mobile) {
      text-align: left;
      justify-items: stretch;
      gap: 45px;
    }
  }

  // .footer__wrapper
  &__wrapper {
    display: grid;
    justify-items: center;
    gap: 15px;

    @media (min-width:$mobile) {
      grid-template-columns: 190px 1fr 190px;
      justify-items: start;
    }

    @media (min-width:$pc) {
      column-gap: 90px;
    }
  }

  // .footer__top
  &__top {
    display: grid;
    justify-items: center;
    gap: 10px;

    @media (min-width:$mobile) {
      justify-items: start;
    }

    @media (min-width:$pc) {
      grid-area: 2/1/3/2;
    }
  }

  // .footer__copy
  &__copy {
    @media (min-width:$mobile) {
      text-align: left;
    }

    @media (min-width:$pc) {
      margin-bottom: 20px;
    }
  }

  // .footer__offer
  &__offer {}

  // .footer__logo
  &__logo {
    justify-self: center;

    @media (min-width:$pc) {
      grid-area: 1/1/2/2;
      justify-self: start;
    }
  }

  // .footer__nav
  &__nav {
    display: none;

    @media (min-width:$pc) {
      display: flex;
      justify-content: space-between;
      grid-area: 1/2/3/3;
      width: 100%;
    }
  }

  // .footer__nav-column
  &__nav-column {}

  // .footer__title
  &__title {
    margin-bottom: 15px;
    color: #232220;

    @media (min-width:$pc) {
      margin-bottom: 45px;
      color: #232220;
    }
  }

  // .footer__nav-list
  &__nav-list {
    color: #665d5d;

    li {
      &:not(:last-child) {
        margin-bottom: 11px;
      }
    }
  }

  // .footer__bottom
  &__bottom {
    display: grid;
    justify-items: center;

    @media (min-width:$mobile) {
      justify-items: start;
      grid-area: 1/3/3/4;
    }

    @media (min-width:$pc) {
      align-self: self-start;
    }
  }

  // .footer__contacts
  &__contacts {
    display: grid;
    gap: 15px;

    @media (min-width:$mobile) {
      text-align: left;
    }
  }


  // .footer__socials
  &__socials {
    color: var(--accent-color);
  }

  // .footer__made

  &__made {
    color: var(--accent-color);
    text-align: center; 
  }
}


//====================================================================================================


//====================================================================================================


//====================================================================================================


//====================================================================================================

//====================================================================================================